*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
main{
   
    margin: 30px ;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    
}
.grid{
    max-width: 620px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;

   
}
.image img{
    max-width: 100%; 
    display: inherit;
}

.information{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h2,
.cost{
    font-family: Fraunces,arial;
}

h6,p,button{
    font-family: Montserrat,arial ;
}

.product-name{
    color: hsl(228, 12%, 48%);

}
h6{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 12px;
    font-weight: 500;

}
p{
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    line-height: 20px;
    font-weight: 500;

}
h2{
    color:hsl(212, 21%, 14%);
    font-size: 30px;
    line-height: 30px;

}
.cost{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.discount-cost{
    color:hsl(158, 36%, 37%) ;
    font-size: 30px;
    font-weight: 700;
    padding-right: 20px;
}
.original-cost{
    color:  hsl(228, 12%, 48%);
    font-size: 14px;
    text-decoration: line-through;

}
button{
    background-color: hsl(158, 36%, 37%) ;
    color:hsl(0,0%,100%);
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    transition: background-color ease 0.3s;
    font-weight: 600;
    display: flex;
    justify-content: center;

}
button img{
    padding-right: 10px;
}
button:hover{
    background-color:  hsl(212, 21%, 14%);

}

@media only screen and (max-width: 628px){
    .grid{
        grid-template-columns: 1fr;
    }
    .imgage img{
        max-height: 450px;
        width: 100%;
        object-fit: cover;
    }
    .card-content{
        display: block;
    }
    h6, h2, p, .cost{
        padding-bottom: 23px;
    }
}

@media only screen and (max-width: 375px){
    main{
        margin: 15px auto;
        padding: 0 15px;
    }
    .imgage img{
        max-height: 290px;
    }
    .information{
        padding: 24px;
    }
    h6, h2, p, .cost{
        padding-bottom: 16px;
    }
    h2{
        font-size: 28px;
    }
    p{
        font-size: 12px;
    }
    p.discount-cost{
        font-size: 23px;
    }
    button{
        padding: 12px 0;
        font-size: 13px;
    }
}



